.navbar-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 33%;
}

.navbar-item {
    text-decoration: none;
    font-weight: bold;
}

.navbar-icon {
    font-size: 30px;
    color: aqua;
    width: 33%;
    padding-left: 40px;
    display: flex;
}

.navbar-category {
    font-size: 20px;
    color: black;
    transition: color 1s;
    vertical-align: middle;
}

.navbar-category:hover {
    color: blue;
}

.navbar-search-item {
    width: 33%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.navbar-searchform {
    width: 50%;
    height: 70%;
}