header{
    position:fixed;z-index:2;
    top:0;
    height: 4.5rem;
    width:100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    color: #FFFFFF;
    background-color: #0F7F3A;
    font-size: 1.2rem;

}

.logo{
    font-weight: bolder;
    width: fit-content;  
}

.mainNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    letter-spacing: 0.2px;
}

header button{
    border:none;
    padding:8px 16px;
    vertical-align:middle;

    cursor: pointer;
    color:inherit;
    background-color:inherit;
    text-align:center;  
}

button:hover{
    color:#000!important;
    background-color:#ccc!important;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 0;
}

.dropcontent {
    display: none;
    
    position: absolute;
    width: 100%;
    background-color: #f1f1f1;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropcontent ul{
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 0px;

}

.dropcontent li{
    float: none;
    color: black;
    font-size: 14px;
    margin: 0.3em;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown:hover .dropcontent {display: block;}

.searchform{
    align-items: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5em;

    height: 2.2em;
    background-color: #FFFFFF;

    border-radius: 10px;
}

.searchform input[type="search"] {
    background-color: transparent;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: none;

    letter-spacing: .07rem;
    color: #39856D;
    
    padding: 0 0 0 1em;
}