.container {
    margin: 0 auto;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    width: 75%;
}

.header {
    font-size: 50px;
    color: white;
    background-color: black;
    height: 40%;
    width: 100%;
    text-align: center;
}

.content {
    font-size: 20px;
    color: black;
    background-color: grey;
    height: 60%;
    width: 100%;
    text-align: center;
}

.linkto {
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: yellow;
    height: 30%;
    width: 100%;
}