footer {
    background: gray;
    width: 100%;
    margin-bottom: 0;
    height: 25vh;
    
}

footer h6{
    
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}

footer li, footer p{
    list-style: none;

}

.container {
    height: 100%;
    padding: 0 50px;
    color:#fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


.col1{
    flex-grow: 2;
    font-size: 0.8rem;
    margin: 15px;
}

.col2{
    flex-grow: 1;
    font-size: 0.8rem;
    margin: 15px;
}

.tab {
    width: 500px;
    margin-left: 10px;
    margin-right: 10px;
}